

#wrapperContainer {
	width: 100%;
  	position: absolute;
  	top: 0px;
  	overflow-y:auto;
  	display:block;
  }
.page {
	display:none;
  	vertical-align: middle;
  	color:rgba(255,255,255,1);
  	min-height: 300px;
}
/**********************************
Home
**********************************/
#_home {
	vertical-align:middle;
	text-align:center;
	width:100%;
}
/**********************************
Blog
**********************************/
#_blog {
	padding-top:50px;
	padding-bottom:50px;
}
#_work {
	margin-top:20px;
	margin-left:20px;
}

.lang {
	display:none;
}

@media (max-width:800px) {
	.blogLeft, .bioLeft {
		width:20%;
	}
	.blogLeftControls {
		font-family:'Arial',sans-serif;
		font-size:10px;
		text-align:right;
	}
	.blogLeftControls span.icon {
		margin-left: 20px;
		margin-right: 30px;
		font-size: 20px;
		width: 20px;
		position: relative;
		top: 3px;
	}
	.blogLeft span.description {
		display:none;
		text-transform:uppercase;
	}
}

@media (min-width:800px) {
	.blogLeft, .bioLeft {
		width:20%;
	}
	.blogLeftControls {
		font-family:'Arial',sans-serif;
		font-size:10px;
		text-align:right;
	}
	.blogLeftControls span.icon {
		margin-left: 20px;
		margin-right: 30px;
		font-size: 20px;
		width: 20px;
		position: relative;
		top: 3px;
	}
	.blogLeftControlsEntry span.description {
		text-transform:uppercase;
	}
}

.blogLeft, .bioLeft {
	width:20%;
}
.blogLeftControls {
	font-family:'Arial',sans-serif;
	font-size:10px;
	text-align:right;
}
.blogLeftControls span.icon {
  margin-left: 20px;
  margin-right: 30px;
  font-size: 20px;
  width: 20px;
  position: relative;
  top: 3px;
}
.blogLeftControlsEntry span.description {
	text-transform:uppercase;
}
.blogRight, .bioRight {
	padding-right:15%;
}
.blogRightTitle h1 {
	font-family:'Josefin Slab',sans-serif;
	font-weight:700;
	font-size:30px;
}
.blogRightContent, .bioRightContent {
	font-family:'Open Sans', sans-serif;
	font-weight:300;
	font-size:14px;
	line-height:30px;
}


/* contact */
.contactLinks {
    position: absolute;
    font-size: 60px;
    left: 50%;
    top: 50%;
}

.contactLink {
    cursor:pointer;
}

.contactLink:hover {
    color: #ba0000;
}
.contactLink {
	float:left;
}
@media (orientation: landscape),  (min-width:600px){
	.contactLinks {
		width:240px;
        height:84px;
        margin-top: -42px;
        margin-left: -120px;
	}
	.contactLink:first-child {
		float:left;
	}
	.contactLink:nth-child(2) {
		margin-left:42px;
	}
	.contactLink:last-child {
		float:right;
	}
    /*#_contact .fa {*/
        /*-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(20%, transparent) , to(rgba(250, 250, 250, 0.2)));*/
    /*}*/
}

@media (orientation: portrait), (max-width:600px) {
	.contactLinks {
        width:52px;
        height:250px;
        margin-top: -125px;
        margin-left: -26px;
	}
    /*#_contact .fa {*/
        /*-webkit-box-reflect: left 10px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(20%, transparent) , to(rgba(250, 250, 250, 0.2)));*/
    /*}*/

}
.workRow {
	clear:both;
	position:relative;
	width:100%;
	font-family:'Open Sans','sans-serif';
}
.workRow-top {

}
.workRow-left {
	float:left;
	position:relative;
	width:200px;
	height:200px;
}
.workRow-left img {
	max-height:100%;
	clip: rect(0px,60px,200px,0px);
}
.workRow-right {
	float:left;
	position:relative;
	width:66%;
}

.languages span:first-child, .resources span:first-child {
	font-weight:bold;
}

.grid {
	font-family:'Open Sans','sans-serif';
}

.grid-item {
	width:300px;
	margin-bottom:10px;
	overflow:hidden;
	border-radius:1px;
	-webkit-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.35);
	box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.35);
}

.grid-header .image-overlay {
	position:relative;
	width:100%;
}

.grid-header {
	border-bottom:1px solid #E0E0E0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+100 */
	background: black; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  #ffffff 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.grid-header img {
	position:relative;
	width:100%;
	cursor:pointer;
}

.grid-content {
	min-height:200px;
	background: white;
	color:black;
	padding:10px;
	font-size:12px;
}
.grid-content-time {
	overflow: hidden;
	clear: both;
	padding-bottom: 5px;
	margin-bottom: 5px;
	color: #9E9E9E;
	font-size: 11px;
}
.grid-content-time .fa {
	margin-right:5px;
}
.grid-content-title {
	font-size: 13px;
	font-weight: bold;
	color:#07735B;
}
.grid-content-description {

}

.grid-footer {
	font-size:13px;
	color:black;
	min-height:15px;
	background:#F9F9F9;
	border-top:1px solid #E0E0E0;
	padding: 9px 8px;
}
.grid-footer .fa {

	color: #008064;
}