@import 'hexList-default-light.css';

.hexListHooverContainer, .hexListBottomContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  width:100%;
  height:100%;
 }
 .hexGridCanvas {
  position: absolute;
  top: 0px;
  left: 0px;
  
 }
 .hexListHooverContainer {
 	opacity:0.7;
 	z-index:3;
 }
.hexListHooverContainer{
    -ms-transform: scale(0.1); /* IE 9 */
    -webkit-transform: scale(0.1); /* Safari */
    transform: scale(0.1);
    opacity:0;
    transition: all 0.1s;
}
.hexListHooverContainer .hexGridCanvas,  .hexListBottomContainer{
  transition:all 0.1s;
 z-index:inherit;	
}

.hexListContainer {
  display:none;
}

.hexListContainer:hover .hexListHooverContainer {
 -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari */
    transform: scale(1);
    opacity:0.7;
}
.hexListContainer:hover .hexListBottomContainer{
 
}

.hexListBottomContainer {
	z-index:2;
}
