# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

tmp/*
.idea
tmp/
server/settings.php
js/vendor/*
node_modules/*
.vagrant/
css/web/
