
// Font settings
$body-font-color: #222;
$body-font-size-base: 1em;
$body-line-height: 1.4;
$body-font-family: 'Arial', sans-serif;
$body-font-family-theme: 'Josefin Slab', sans-serif;

// Breakpoints
$breakpoint-small: 320px;
$breakpoint-large: 768px;

